#nav {
    backdrop-filter: blur(200px);
}
#navButton{
    font-weight: bold;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.portfolioLink{
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.portfolioLink:hover{
    transform: scale(1.1);
}

.portfolioLink a{
    text-decoration: none;
    color: white;
}

.homeText{
    text-align: center;
    color: white;
}

.navButton {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

.navButton::after,
.navButton::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white; /* solid white line */
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
}

.navButton::after {
    bottom: -5px;
    transform-origin: right;
}

.navButton::before {
    top: -5px;
    transform-origin: left;
}

.navButton:hover::after,
.navButton:hover::before {
    transform: scaleX(1);
}
.navButton:hover {
    background: none !important;
}
.siteButton{
    backdrop-filter: blur(100px) !important;
    border: 1px solid white !important;
    my: 2 !important;
    color: white !important ;
    display: block !important;
    border: 1px solid white !important;
    transition: transform 0.3s, background-color 0.3s, color 0.3s !important;
    margin: 20px !important;
}
.siteButton:hover {
    transform: scale(1.1) !important;
    backdrop-filter: blur(200px) !important;
    color: white !important;
}

.gallery{
    padding-top:10px;
}

/*#about{*/
/*    backdrop-filter: blur(100px);*/
/*    border:1px solid white;*/
/*    transition: transform 0.3s, background-color 0.3s, color 0.3s;*/
/*}*/

